.carousel {
  height: 100%;
  width: 100%;
}

.carousel-cell {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
}

.flickity-page-dots {
  bottom: 15px;
}
.flickity-page-dots .dot{
  background-color: #9e6685;
}

.carta {
  width: 100%;
  height: 100%;
  background-color: var(--primario);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.carta__jugador {
  max-width: 90%;
  overflow: hidden;
  margin: 10px 0px 5px 0px;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  border-radius: 25px;
  background: #9e6685;
  box-shadow: 7px 7px 20px #e48f3e, -7px -7px 20px #ffaf4c;
}

.carta__imagen {
  width: auto;
  height: 50%;
  margin: 10px 0px 10px 0px;
  border-radius: 20px;
  background: #fd9f45;
  box-shadow: 10px 10px 20px #e48f3e, -10px -10px 20px #ffaf4c;
}
.carta__titulo {
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 20px;
  background: #fd9f45;
  box-shadow: 5px 5px 10px #e48f3e, -5px -5px 10px #ffaf4c;
}
.carta__mensaje {
  width: 90%;
  font-size: 12px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 20px;
  background: #fd9f45;
  box-shadow: 10px 10px 20px #e48f3e, -10px -10px 20px #ffaf4c;
}
