.carousel {
  height: 100%;
  width: 100%;
}

.carousel-cell {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
}

.flickity-page-dots {
  bottom: 15px;
}
.flickity-page-dots .dot {
  background-color: #9e6685;
}

.carta {
  width: 100%;
  height: 100%;
  background-color: var(--primario);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.carta__jugador {
  max-width: 90%;
  margin: 10px 0px 5px 0px;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  border-radius: 25px;
  background: #9e6685;
  box-shadow: 7px 7px 20px #e48f3e, -7px -7px 20px #ffaf4c;
}

.carta__imagen {
  width: auto;
  height: 50%;
  margin: 10px 0px 10px 0px;
  border-radius: 20px;
  background: #fd9f45;
  box-shadow: 10px 10px 20px #e48f3e, -10px -10px 20px #ffaf4c;
}
.carta__titulo {
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 20px;
  background: #fd9f45;
  box-shadow: 5px 5px 10px #e48f3e, -5px -5px 10px #ffaf4c;
}
.carta__mensaje {
  width: 90%;
  font-size: 12px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 20px;
  background: #fd9f45;
  box-shadow: 10px 10px 20px #e48f3e, -10px -10px 20px #ffaf4c;
}
.carta__botonSalir {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(145deg, #a96d8e, #8e5c78);
  box-shadow: 9px 9px 18px #d7873b, -9px -9px 18px #ffb74f;
}

.carta__botonSalir:hover {
  background: #9e6685;
}

.carta__botonSalir:active {
  animation: carta__botonSalir_active 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  background: linear-gradient(145deg, #8e5c78, #a96d8e);
}

@keyframes carta__botonSalir_active {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
